@model ProductViewModel
@using RazorJS.CompilerTests.Models

<div class="products">

	@foreach (var item in Model.Products) {
		<div class="product">
			<img src="@item.ImageUrl" />
			<p>@item.ShortDescription</p>

			@if (item.IsForSale) {
				<a href="#buy" data-id="@item.Id">Buy</a>
			}
		</div>
	}

</div>